table{
	font-size: 2em;
	/*水平居中*/
	margin: 0 auto;
	text-align: center;	
	background-image: url(../img/背景.png);
	/*font-family: "arial", "times new roman";*/
}
article{
	margin: 30px auto;
	text-align: center;	
	border:2px solid skyblue;
	padding: 5px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.circle{
	margin: 20px auto;
	text-align: center;
	width: 600px;
	height: auto;
	border:2px solid sienna;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
}

h1{
	font-size: 10em;
	font-family: cac_champagneregular;
}
h2 {
	color: blueviolet;
}

.compute {
	height: 30px;
	width: 50px;
}

#btn_compute,#btn_loadEcharts {
	background-color: #3bb3e0;
	padding: 10px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44, 160, 202)), color-stop(1, rgb(62, 184, 229)));
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

select {
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border: solid 1px #000;
	/*很关键：将默认的select选择框样式清除*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
	display: none;
}