.page{
	/*margin: 0 auto;*/
	max-width: 1920px;
}
body{
	/*背景图片*/
	background-image:url(../img/background.jpg);
	
	/*字体以及替代字体，sans-serif代表首选字体最为接近的风格*/
	font-family: 'Source Sans Light', 'Apple LiSung Light', 'STHeiti Light', 'SimSun', sans-serif;
	font-size: 100%;
}
header{
	height: 50px;
}
nav{
	font-size: 1.75em;
}
p{
	font-size: 1.5em;
	line-height: 1.65;
}
h1{
	color: green;
	font-size: 3em;
}
footer{
	text-align: center;
}
#hddb{
	width: 5%;
	height: 5%;
	/*text-align:center;*/
}

.my-navbar{padding:0 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
/*导航栏初始颜色*/
.my-navbar a{background: transparent !important;color:black !important}
/*鼠标覆盖后颜色*/
.my-navbar a:hover{color: #45BCF9 !important;background: transparent;outline:0}
/*颜色改变时间*/
.my-navbar a{transition:color 0.1s ease-in-out;}

.top-nav{padding:0;background: whitesmoke;}